.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

main section {
  flex: 1 1 300px;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 10px;
}

.line {
  display: flex;
}

.line > * {
  padding: 10px 20px;
}

input, select{
  background: transparent;
  border-radius: 6px;
  border: 1px solid #DFE1E5;
  font-size: 14px;
  height: 2.5em;
  padding: 0 12px;
  margin: 0;
  overflow: hidden;
  width: 100%;
  text-align: right;
}

select {
  height: calc(2.5em + 2px);
}

input[type=submit] {
  background-color: #86d18a;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input:read-only {
  background-color: #d0d2d8;
  pointer-events: none;
}

.col25 {
  flex: 1 1 100px;
}

.col75 {
  flex: 1 1 100px;
}

.note {
	color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}